[Unit]
Description=Merch REST API
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/merch-embedded/machine_controller
ExecStart=/usr/bin/python /home/pi/merch-embedded/machine_controller/app.py

[Install]
WantedBy=multi-user.target
